<h1>Instrukcja obsługi Termostatu</h1>
<div>
    <a>Użytkownik musi się zarejestrować lub zalogować, by mieć dostęp do funkcji strony internetowej</a><br>
    <a>Po zalogowaniu użytkownik ma możliwość stworzenia mieszkania</a><br>
    <a>Użytkownik może dodać jednego dodatkowego użytkownika do swojego mieszkania</a><br>
    <a>Dodatkowy "mieszkaniec" ma uprawnienia tylko do podglądu detali mieszknaia</a<br>
    <a>Obaj urzytkownicy mieszkanie mogą tworzyć harmonogrmy</a<br>
    <a>Dla karzdego harmonogramu można zobaczyć szacowny koszt ogrzewania</a<br>
</div>